<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/base.css">
    <script src="js/simpstacgene.js" type="text/javascript"></script>
  </head>
  <body>
    <!--// This is the default template. Here it is intended it should be included in all pages which will be incerted into contains -->
    <div class="banner-wrapper">
      {{ banner }}
    </div>
    <div id="menu-wrapper">
      {{ menu }}
    </div>

    {{ contains }}

  </body>
</html>
